/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
 :root {
    --bg-color: #000028;
    --text-color: #F1B2CE;
    --title-text-color: #000028;
    --accent-color: #FF0070;
    --accent-text-color: #FF0070;
    --main-title-color: #DB00FF;
    --accent-title-color: #FF0070;
    --rec-color: #FF0070;
    --nav-hover-color: rgb(255 0 112 / 0.4);
    --font-family: 'IBM Plex Mono';
    --font-size: 18px;
    --page-gap: 40px;
    --main-gap: 50px;
    --gap: 10px;
  }

  @media (width >=720px) {
    :root {
      --page-gap: 60px;
      --main-gap: 80px;
      --gap: 20px;
    }
  }